auth-provider: net.sourceforge.guacamole.net.auth.mysql.MySQLAuthenticationProvider
mysql-hostname: "{{ guacamole__mysql_host }}"
mysql-database: "{{ guacamole__mysql_db }}"
mysql-username: "{{ guacamole__mysql_user }}"
mysql-password: "{{ guacamole__mysql_password }}"
