guacd-hostname: localhost
guacd-port: {{ guacamole__guacd_port }}
auth-provider: net.sourceforge.guacamole.net.basic.BasicFileAuthenticationProvider
basic-user-mapping: /etc/guacamole/user-mapping.xml
