<user-mapping>
    <authorize
         username="{{ guacamole__username }}"
         password="{{ guacamole__password }}">      
       <connection name="default">
         <protocol>rdp</protocol>
         <param name="hostname">localhost</param>
         <param name="port">3389</param>
       </connection>
    </authorize>
</user-mapping>

